@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');
body {
  margin: 0;
  font-family: 'Titillium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(0, 0%, 0%, 0.04);
  box-sizing: border-box;
  letter-spacing: -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
