.container {
  width: 600px; 
  margin: 40px auto; 
  padding: 30px; 
  background: #f9fcff; 
  border-radius: 40px; 
  box-shadow: 0 0 2px 1px rgba(0,0,0, 0.04);
}

.container-title {
  text-align: center; 
  font-size: 2.6em; 
  margin-top: 0;
}

.product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f0f8ff;
  border-radius: 12px;
  margin: 6px;
  padding: 12px;
}

.product-item:hover {
  cursor: pointer;
  background: #e4f2fe;
}

.product-item-title {
  flex: 0.6;
  height: 100%;
  font-size: 1.2em;
}

.product-image-thumb {
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  flex: 0.2;
  height: 100%;
  min-height: 105px;
  min-width: 105px;
  max-height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-thumb img {
  width: 100%;
  display: block;
}


.product-item-price {
  flex: 0.12;
  border-radius: 30px;
  background: #cfffbd;
  color: #418528;
  border: 1px solid #b7ff9b;
  padding: 6px 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}